.btn {
  width: 100%;
  border: 2px solid black;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .25rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: all 0.2s ease;
}

.btn.active {
  background-color: #10b981;
  border-color: #10b981;
  color: white;
}

.btn.inactive {
  opacity: .3;
  background-color: #e2e8f0;
  color: #94a3b8;
  cursor: not-allowed;
}

.btn:hover:not(:disabled):not(.active):not(.inactive) {
  background-color: hsl(200, 100%, 75%);
}

.btn:disabled {
  cursor: not-allowed;
}